/* your styles go here */

.sidebar-mini #sidebar-brand {
    position: relative;
    margin-left: -15px;
}

#main-content {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

@media print
{
    thead {display: table-header-group !important;}
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-left: 0;
}

/*select.form-control:not([size]):not([multiple]) {*/
    /*height: calc(2.25rem + 6px) !important;*/
/*}*/

/*.form-control-label, form label, select option {*/
    /*color: #333;*/
/*}*/

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.nav.nav-tabs > .nav-item > .nav-link {
    font-size: 13px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav.nav-tabs > .nav-item > .nav-link.active:first-child {
    border-top-right-radius: 0;
}

.nav.nav-tabs > .nav-item > .nav-link.active:last-child {
    border-top-left-radius: 0;
}

.nav.nav-tabs > .nav-item > .nav-link:first-child {
    border-top-left-radius: .25rem;
}

.nav.nav-tabs > .nav-item > .nav-link:last-child {
    border-top-right-radius: .25rem;
}

.nav.nav-tabs > .nav-item > .nav-link.active {
    background: #2b90d9;
    border-color: #2b90d9;
    color: #fff;
}

/*.form-control {*/
    /*padding: 8px 15px;*/
/*}*/

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
    transition: .3s transform;
}

#page-loader span {
    color: #FFF;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.modal {
    z-index: 9999;
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_desc:after {
    content: "";
}

#sidebar{
    background-color: #003366;
}

.dataTables_filter input {
    color: #646464;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    display: inline;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataTables_length select {
    color: #646464;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    padding: 5px;
}

.pagination > li > a, .pagination > li > span {
    display: block !important;
    float: none !important;
    margin: 0 !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    color: #646464 !important;
    font-weight: 600 !important;
    border: none !important;
}
.pagination > li > a, .pagination > li > span {
    display: block !important;
    float: none !important;
    margin: 0 !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    color: #646464 !important;
    font-weight: 600 !important;
    border: none !important;
}

.login-page {
    background: url(../img/bg-3.jpg);
    background-size: cover;
}

.login-page::before {
    background: none;
}
.m-login__logo{
    text-align: center;
    margin: 0 auto 3rem auto;
}

.m-login__title{
    text-align: center;
    color: #9e97aa;
    font-size: 1.5rem;
    font-weight: 500;
}
.login-page .form-holder .form form{
    max-width: 100%;
    margin: 3rem auto;
}

input.input-material{
    border-radius: 40px;
    border: none;
    padding: 1.2rem 1.2rem;
    color: #91899f;
    background: #f7f6f9;
}
.login-page .form-holder .info, .login-page .form-holder .form{
    padding: 0px;
}

.login-page .form-group button{
    padding: 1.2rem 3rem;
    margin-top: 2rem;
    border-radius: 60px;
}

.login-page .login-btn{
    text-align:center;
    margin-top: 10px;
}
.login-page .forgot-pass{
    margin-top: 6px;
}

.login-page .form-holder{
    margin-bottom: 0px;
}

.actions:hover{
    border-bottom: 1px #3169b1 solid;
}

table td {
    vertical-align: middle !important;
}